.App {
  text-align: center;
  /* background-image: url("public/outrun-background.jpg"); */
  color: white;
  display: flex;
  justify-content: center;
}

.transparent-background {
  margin-top: 3em;
  background-color: rgba(180, 180, 180, 0.3);
  display: flex;
  justify-content: center;
  border: 3px solid turquoise;
  height: 90vh;
  width: 80%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.transparent-background {
  margin-top: 3em;
  background-color: rgba(180, 180, 180, 0.3);
  display: flex;
  justify-content: center;
  border: 3px solid turquoise;
  height: 90vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
